.footer {
    height: 8vh;
    background-color: #202c8c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-weight: 600;
    font-family: sans-serif;
    color: #b6bce8;
}